h1 {
  font-family: "Bubblegum Sans", cursive;

  color: chocolate;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: crimson;
}

.iconodetails {
  width: 75px;
  margin: auto;
  text-align: center;
}

.nav-user {
  padding-top: ;
  color: ;
}

.carousel-item img {
  height: 400px;
  width: auto;
  margin: 0 auto;
}

.contenedor {
  background: black;
}

.imagenes-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 10px;
  margin: 10px;
}
.imagenes-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  width: 100%;
  height: 400px;
  cursor: pointer;
  margin-top: 1cm;
}

.imagenes-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.imagenes-details {
  position: absolute;
  bottom: 25px;
  left: 28px;
  /*propiedad de capas*/
  z-index: 100;
  color: #ffff;
  background-color: #000000c9;
}

.text-center {
  background-color: rgba(95, 29, 29, 0.835);
}

.video{
    display: inline;
    margin-left: 24rem;
}
.mapa {
    width: 200px;
    height: 300px;
    display: inline-flex;
    margin-left: 5cm;

  }
footer {
    margin-top: 2rem;
}
